<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="charset=UTF-8">
        <title>Help Page</title>
    </head>
    <body>
        {{> header}}
        <p>Some text</p>

        {{> footers}}
    </body>

</html>