<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="charset=UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        {{> header}}
        <p> {{paraText}} </p>

        {{> footers}}
    </body>

</html>